/* offside-regular - latin */
@font-face {
    font-family: 'Zabars';
    src: url('./fonts/Zabars.ttf') format('truetype');
}

body {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/body_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-title {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#canvasContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 480px;
}

.d-none {
    display: none !important;
}

canvas {
    display: block;
}

#gameIcons {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    position: absolute;
    top: 0;
}

button {
    border: none;
    background-color: #EDE9D0;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* animation effects  */
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #FFF6F3;
    border: 2px solid #c76758;
}

.tooltip {
    position: relative;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #FFF6F3;
    color: #c76758;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

#backgroundDialog1,
#backgroundDialog2 {
    height: 480px;
    width: 720px;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    margin-block-start: 0;
    margin-block-end: 0;
}

#backgroundDialog1 h1,
#backgroundDialog2 h1 {
    text-transform: uppercase;
}

#backgroundDialog1 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

.info p {
    margin: 0 80px;
    text-align: center;
    color: #EDE9D0;
    letter-spacing: 4px;
    font-size: larger;
}

.info h1 {
    font-size: xxx-large;
    color: #EDE9D0;
    letter-spacing: 8px;
}

#backgroundDialog2 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.circle {
    border: none;
    background-color: #EDE9D0;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* animation effects  */
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.circle img {
    height: 32px;
    width: 32px;
}

.key-explanations span {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #EDE9D0;
    letter-spacing: 4px;
    font-size: x-large;
}

.key-explanations {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

button img {
    height: 32px;
    width: 32px;
}

#startScreenContainer {
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#endScreenContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NPCDead {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NPCDead h1 {
    font-size: 80px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

#NPCDead h1,
#NPCDead span {
    background-image: linear-gradient(to bottom, #ffdf00, #ffa602);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px #9b401d;
    color: transparent;
    text-align: center;
    letter-spacing: 2px;
}

#NPCDead span {
    font-size: 48px;
}


#PCDead {
    background-image: url('./img/9_intro_outro_screens/game_over/game over!.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}

#nextLevelBtn,
#endBtn {
    height: 64px !important;
    width: 64px !important;
    color: rgb(198, 102, 87);
    font-weight: bolder;
    margin-top: 5%;
}

#mobileBtns {
    display: none !important;
}

#mobileAdvice {
    display: none;
}

@media only screen and (max-width: 920px) {
    .main-title {
        display: none;
    }

    #NPCDead {
        margin: 15px;
    }

    #canvasContainer {
        margin-top: unset;
        height: 100vh;
        /* width: 100vw; */
    }

    #startScreenContainer {
        background-size: cover;
        background-position: center;

    }

    #mobileBtns {
        position: absolute;
        bottom: 32;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
    }

    #mobileBtns div {
        display: flex;
        gap: 10px;
        padding: 0px 16px 16px 16px;
    }

    .main-title {
        display: none;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    .main-title {
        display: none;
    }

    #canvasContainer {
        margin-top: unset;
        height: 100vh;
        width: 100vw;
    }

    #startScreenContainer {
        background-size: cover;
        background-position: center;
    }

    #mobileBtns {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
        /* padding: 0 16px 8px 16px; */
    }

    #mobileBtns div {
        display: flex;
        gap: 10px;
        padding: 0px 16px 16px 16px;

    }

    .main-title {
        display: none;
    }

    canvas {
        height: 100vh;
    }
}

/* big screen */ 

@media screen and (min-width: 1000px){
    body {
        background-size: unset;
    }
    #NPCDead {
        margin: 110px;
    }
}